<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Iowa Code Camp - Email Validation</title>
</head>
<body>
<p>{0} {1},</p>
<p>Welcome to Iowa Code Camp.  
You'll need to verify your email by clicking on the following link.</p>
<p><a href="{2}ValidateUser.aspx?code={3}">Click here to verify</a></p>
<p>Here is the full url if you would prefer to manually paste it into the url bar of your browser:<br />
{2}ValidateUser.aspx?code={3}</p>
<p>If you didn't register this email at iowacodecamp.com, then <b>please don't click</b> the link above.</p>
<p>Thanks,</p>
<p>The Iowa Code Camp Team</p>
</body>
</html>
