<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Iowa Code Camp - Registration Confirmation</title>
</head>
<body style="font-family:Arial">
<p>{0} {1},</p>
<p>Thank you for registring for {2}!</p>
<p>This event is on {3}, at</p>

<p style="margin-left: 40px"><a href="http://www.thehotelatkirkwood.com/">The Hotel at Kirkwood</a><br />
7725 Kirkwood Boulevard S.W.<br />
Cedar Rapids, Iowa 52404
</p>
<p>You can access details for the event at the locations below.<br />
Schedule - <a href="http://iowacodecamp.com/session/schedule">http://iowacodecamp.com/session/schedule</a><br />
Speakers - <a href="http://iowacodecamp.com/speaker/list">http://iowacodecamp.com/speaker/list</a><br />
Sessions - <a href="http://iowacodecamp.com/speaker/list">http://iowacodecamp.com/speaker/list</a>
</p>
<p>If you need to cancel your reservation, please tell us by emailing <a href="mailto:{4}">{4}</a>. 
    This will help us with planning.<br />
<p>If you didn't register at iowacodecamp.com, then someone else must have used your email and we apologize for the inconvenience.</p>
<p>Thank you,</p>
<p>The Iowa Code Camp Team</p>
</body>
</html>
