<appSettings>
  <add key="WwwRule" value="remove"/>
  <add key="baseurl" value="http://iowacodecamp.com/"/>
  <add key="smtpserver" value="smtp.iowacodecamp.com"/>
  <add key="messagefrom" value="info@iowacodecamp.com"/>
  <add key="smtpuser" value="info@iowacodecamp.com"/>
  <add key="smtppassword" value="????"/>
  <add key="bccemail" value=""/>
  <add key="eventFolder" value="spring2015"/>
</appSettings>